.InputMessage {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.InputMessage .ipt {
  align-self: center;
  background: white;
  border: 2px solid white;
  border-radius: 20px;
  box-sizing: border-box;
  color: black;
  font-size: 18px;
  margin: 10px 0 10px 30px;
  min-width: 500px;
  padding: 10px 50px 10px 20px;
  text-align: left;
}

.InputMessage .ipt:focus {
  outline: 0;
}

.InputMessage .btn-message {
  background: white;
  border: none;
  border-radius: 100%;
  color: rgb( 15 , 163 , 107 );
  font-size: 21px;
  font-weight: 700;
  margin-left: -45px;
  padding: 4px 10px;
  text-decoration: none;
}

.InputMessage .btn-message:hover {
  background: rgb( 15 , 163 , 107 );
  color: white;
}
