.ItemMessage {
  border-radius: 10px;
  padding: 5px 4px 2px 10px;
  width: 60%;
  color: black;
  margin: 10px 20px;
  word-break: break-all;
}

.ItemMessage.admin {
  align-self: flex-end;
  background: lightblue;
}

.ItemMessage.user {
  align-self: flex-start;
  background: white;
  border: 0.5px solid black;
}
