.Orders-Admin .list-orders {
  background: rgb( 15 , 163 , 107 );
  display: flex;
  flex-wrap: wrap;
  padding-left: 300px;
  padding-top: 120px;
}

.Orders-Admin .message-orders {
  margin-top: 0;
  padding-top: 200px;
  text-align: center;
}

.Orders-Admin .list-orders .card {
  height: 450px;
  margin: 50px;
  width: 300px;
}

.Orders-Admin .list-orders a {
  color: black;
  text-decoration: none;
}
